---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/find?APPID=<OPEN_WEATHER_APIKEY>&q=ishinomaki,jp&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"accurate","cod":"200","count":1,"list":[{"id":2112576,"name":"Ishinomaki","coord":{"lat":38.4167,"lon":141.3},"main":{"temp":10,"pressure":1016,"humidity":43,"temp_min":10,"temp_max":10},"dt":1545278400,"wind":{"speed":8.2,"deg":310},"sys":{"country":"JP"},"rain":null,"snow":null,"clouds":{"all":20},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]}]}'
  recorded_at: Thu, 20 Dec 2018 04:47:35 GMT
recorded_with: VCR 4.0.0
