---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/find?APPID=a8fe10ee1619eadb53849afee0eb18cc&q=ishinomaki,jp&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"accurate","cod":"200","count":1,"list":[{"id":2112576,"name":"Ishinomaki","coord":{"lat":38.4167,"lon":141.3},"main":{"temp":7,"pressure":1018,"humidity":48,"temp_min":7,"temp_max":7},"dt":1545289200,"wind":{"speed":4.6,"deg":280},"sys":{"country":"JP"},"rain":null,"snow":null,"clouds":{"all":20},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]}]}'
  recorded_at: Thu, 20 Dec 2018 07:28:01 GMT
recorded_with: VCR 4.0.0
